.App {
  background-color: black;
  color: white;
}

.AppContainer {
  background-color: #eee;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: #eee 1px 1px 12px 1px;
  padding: 10px;
}

.AppPage {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 150px;
  padding-right: 150px;
}

.AppFormGroup, .AppGroup {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.AppButton {
  padding: 10px;
  padding-right: 15px;
  border: unset;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppForm input {
  min-height: 30px;
  border-radius: 3px;
  border: 1px #333 solid;
  margin-top: 5px;
}

.AppStopButton {
  background-color: rgb(180, 3, 3);
}